*
    margin: 0
    padding: 0
html
    font-size: 62.5%
    background: linear-gradient(rgb(255, 87, 87), rgb(174, 12, 121))
    height: 100vh
body
    font-size: 3rem
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
.info

    display: flex
    flex-direction: column

    border-radius: .5rem
    background-color: rgba(0, 0, 0, .3)
    padding: 3rem
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
    color: rgba(255, 255, 255, .3)
    max-height: 20rem
 
.app
    font-size: 20rem
    margin: 1rem
    display: flex
    flex-direction: row
    justify-content: center

canvas
    border: .1rem solid black
    border-radius: .5rem
    background: #d2fbd255
    box-shadow: .5rem .5rem .5rem rgba(0,0,0, .75 )
    stroke-linecap: "round"

@media screen and ( max-width: 1000px )
    .info
        position: absolute
        bottom: 0
    